.newly-added-section {
    padding: 0 1rem 1rem;
    margin-top: 2rem;
    background-color: #111;
    color: white;
}

.newly-added-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
}

.newly-added-header h2 {
    font-weight: bold;
    text-align: center;
}

.more-button {
    background: none;
    border: none;
    color: gold;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.more-button:hover {
    color: white;
}

.newly-added-movies {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.newly-added-movie-poster {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    cursor: pointer;
}

.newly-added-movie-poster img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid gold;
}

.newly-added-movie-poster img:hover {
    transform: scale(1.05);
}
